.container {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
}

.article {
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
}

.imgPosts {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.textPost {
}

.postBody {
  padding: 15px;
}

.navBar {
  height: 100px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tagBtn {
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  height: 45px;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
}

.tagBtn:focus {
  outline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tagActive {
  background-color: black;
  color: white;
}

.postCard {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.postTitle {
  font-weight: 800;
  text-transform: uppercase;
}

.postDate {
  color: grey;
  font-weight: 100;
}

.blogContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.date {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  margin-top: 18px;
  margin-bottom: 16px;
}

.subheading1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 16px;
}

.subheading2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 8px;
}

.title {
  font-weight: 800;
  font-size: 6.25rem;
  line-height: 0.85;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.mainImage {
  box-shadow: 0 5px 24px rgb(0 0 0 / 12%);
  margin-bottom: 50px;
}

.number {
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: decimal;
}

.bullet {
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: disc;
}

.italic {
  font-family: "Source Serif Pro", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.typo {
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.heading1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.grid {
  margin: auto;
  margin-top: 15vh;
  width: 35vw;
}
