.container {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.italic {
  font-family: "Source Serif Pro", serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.typo {
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.heading1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.grid {
  margin: auto;
  margin-top: 15vh;
  width: 35vw;
}
